.tabs-heading {
    text-align: center;
    margin-bottom: 35px;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item {
        display: inline-block;
        margin: 0 15px;
        width: 100%;
        a {
            opacity: 0.75;
            text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            color: $white-text;
            font-size: 16px;
            font-weight: 300;
            line-height: 9px;
            display: inline-block;
            position: relative;
            transition: all 0.3s;
            text-decoration: none !important;
            padding: 25px 0px;
            width: 100%;
            text-align: center;
            color: $white-text !important;
            text-transform: uppercase;
            &.active {
                font-weight: 600;
                letter-spacing: 0.16px;
                opacity: 1;
                &::before {
                    opacity: 1;
                }
            }
            &::before {
                content: "";
                box-shadow: 0 0 6px $light-neon-pink;
                height: 5px;
                width: 100%;
                background: $light-neon-pink;
                position: absolute;
                bottom: 0;
                opacity: 0;
                left: 0;
                border-radius: 10px;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}
@include breakpoint(576px, "max") {
    .tabs-heading {
        margin-bottom: 35px;
        ul {
            li {
                margin: 0;
                border-bottom: 1px solid #979797cc;
                a {
                    &::before {
                        box-shadow: 0 0 6px #d900ae80;
                        border-radius: 0px;
                    }
                }
            }
        }
    }
}
