// Colors
$purple: #291844;
$main-color: #d9007b;
$neon-green: #1aff00;
$light-neon-green: #a5fb9b;
$neon-blue: #09ffff;
$neon-pink: #ff0080;
$yellow-text: #ebc425;
$red-text: #fe0000;
$white-text: #ffffff;
$black-text: #000000;

$light-neon-pink: #ee3696;

// Fonts
$size-default: 14px;
$size-large: 20px;

// Breakpoints
$screen-mob: 576px;
$screen-below-mob: 575px;
$screen-sm: 768px;
$screen-below-sm: 767px;
$screen-md: 992px;
$screen-below-md: 991px;
$screen-lg: 1200px;
$screen-below-lg: 1119px;
$screen-tablet-big: 1024px;
