.arrow__top, .arrow__bottom{
  cursor: pointer;
}
.dot{
  display: flex;
  align-items: center;
  margin: 0 28px;
  &-inner{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #b7b7b7;
    margin: 0 4px;
  }
}
.dot.active{
  width: 8px;
  height: 8px;
}
.swiper-pagination{
  display: flex;
  align-items: center;
}
.swiper-pagination-bullet{
  background-color: #B7B7B7 !important;
  width: 6px !important;
  height: 6px !important;
  opacity: 1 !important;
  transition: ease all 0.1s;
}
.swiper-pagination-bullet-active{
  background-color: #B7B7B7 !important;
  width: 8px !important;
  height: 8px !important;
}
