#portfolio {
  position: relative;

  .page-nav{
    &-left{
      cursor: none;
    }
  }

  .page-header{
    flex: 0 0 auto;
  }
  .portfolio-bottom{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }
  .portfolio__slider{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37.69vh;;
    .slider-paginator{
      flex: 1 1 1000px;
      max-width: calc(25% - 2.4vw);
      min-width: calc(25% - 2.4vw);
      display: flex;
      height: 100%;
      align-items: center;
      position: relative;
      .paginator{
        display: flex;
        align-items: center;
        white-space: nowrap;
        .paginator-active{
          font-family: 'Heuristica';
          font-weight: bold;
          font-size: 3.75rem;
          line-height: 4.5rem;
          color: #24200C;
          width: 60px;
          height: 72px;

          .custom-slider__slide {
            max-height: 72px;

            span {
              font-size: 3.75rem;
              line-height: 4.5rem;
            }
          }
        }
        .paginator-total{
          font-family: Heuristica;
          font-style: normal;
          font-weight: bold;
          font-size: 1.875rem;
          line-height: 2.25rem;
          color: #B7B7B7;
          white-space: nowrap;
        }
        .paginator-prev{
          margin-right: 1.30vw;
        }
        .paginator-next{
          margin-left: 1.30vw;
        }
      }
    }
    .slider-img{
      width: 100%;
      max-width: 50%;
      margin: 0 2.4vw;
      position: relative;
      height: 37.69vh;

      .custom-slider__slide{
        height: 37.69vh;
        object-fit: cover;
        .custom-slider__slide__inner{
          position: relative;
          width: 100%;
          height: 100%;
          .portfolio__bottom{
            font-family: 'Nunito';
            font-size: 1.125rem;
            line-height: 1.5625rem;
            color: #24200C;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
        .img-gradient{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
          opacity: 0.5;
        }
        img {
          width: 100%;
          height: 37.69vh;
          object-fit: cover;
        }
      }
      .portfolio-button{
        position: absolute;
        top: calc(50% - 72px);
        left: calc(50% - 85px);
        z-index: 1;
        span{
          font-family: 'Nunito';
          color: white;
          font-size: 1.125rem;
        }
      }
    }
    .slider-control {
      margin-top: 4.44vh;
    }
    .slider-company{
      flex: 1 1 1000px;
      max-width: calc(25% - 2.4vw);
      min-width: calc(25% - 2.4vw);

      .custom-slider__slide {
        height: fit-content;
      }

      .company-name{
        font-family: 'HeuristicaBold';
        font-weight: bold;
        font-size: 3.375rem;
        line-height: 4.0625rem;
        color: #24200C;
      }
      .company-type-of-work{
        font-family: 'Nunito';
        font-size: 1.125rem;
        line-height: 1.5625rem;
        color: #B7B7B7;
        margin-top: 0.56vh;
        margin-bottom: 2.78vh;
      }
      .company-description{
        font-family: 'Nunito';
        font-size: 1rem;
        line-height: 1.375rem;
        color: #24200C;
        max-width: 12.76vw;
      }
    }

    .portfolio__bottom{
      font-family: 'Nunito';
      font-size: 1.125rem;
      line-height: 1.5625rem;
      color: #24200C;
      cursor: pointer;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  .portfolio-title, .portfolio__mobile{
    display: none;
  }
}
