#services {
  .services-wrapper{
    display: flex;
    justify-content: flex-end;
  }
  .services-box{
    &.custom-slider {
      width: 30.21vw;
      height: 37.04vh;

      .custom-slider__slide{
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .img-gradient{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
          opacity: 0.5;
        }
      }



      .services-button{
        position: absolute;
        top: calc(50% - 72px);
        left: calc(50% - 85px);
        z-index: 1;
        span{
          font-family: 'Nunito';
          color: white;
          font-size: 1.125rem;
        }
      }
    }

    .slider-img {
      width: 30.21vw;
      height: 37.04vh;
      .img{
        width: 30.21vw;
        height: 37.04vh;
        object-fit: cover;
      }
    }
  }
  .ios{
    height: 37.04vh;
    width: 100%;
    max-width: 13.02vw;
    margin: 0;
    margin-left: 2.60vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    .slider {
      overflow: visible;
      .swiper-wrapper {
        height: 5.28vh !important;
      }
      .swiper-slide {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        position: relative;
      }
    }

    &-wrapper{
    }
    &-items{
      height: 2.78vh;
    }

    .swiper-slide{
      transition: all ease 0.1s;
      white-space: nowrap;
      justify-content: center;
    }
  }
  .ios-slider {
    margin: 0 2.50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .arrow {
      &__top, &__bottom {
        &:focus {
          outline: none;
        }
      }
    }

    .swiper-pagination {
      position: relative;
      display: flex;
      flex-direction: column;
      .swiper-pagination-bullet{
        margin: 9px 0;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
      .swiper-pagination-bullet.swiper-pagination-bullet-active{
        background-color: black !important;
        height: 6px !important;
        width: 6px !important;
      }
    }
  }
  .services__mobile{
    display: none;
  }
}
