.paragraph {
  font-family: 'Nunito';
  font-size: 1.125rem;
  line-height: 1.5625rem;
  color: #24200C;

  .word {
	  font-family: 'Nunito';
	  font-size: 1.125rem;
	  line-height: 1.5625rem;
	  color: #24200C;
  }
}
