.title {
  margin-bottom: 4.63vh;
  white-space: nowrap;
}

.title .letter {
  font-family: 'HeuristicaRegular';
  font-weight: 400;
  font-size: 6rem;
  line-height: 6rem;
  color: #24200C;
  display: inline-block;
  min-width: 1.5vw;
  @media (max-width: 1450px) {
    font-size: 5rem;
  }
}
