#about-us {
  .slider-control{
    display: flex;
    justify-content: center;
    margin-top: 4.17vh;
  }

  .left-slider {
    .custom-slider {
      &__pagination {
        left: calc(0.83vw + 4px + 3.75rem);
      }
    }
  }
  
  .about-us__bottom{
    height: 100%;
    display: flex;
    align-items: center;
  }

  .slider{
    margin-right: 4.17vw;
    width: 25.04vw;
    height: 29.91vh;
    .slide{
      display: flex;
      width: 16.04vw;
      height: 29.91vh;
      align-items: flex-start;
      &-head{
        display: flex;
        align-items: center;
        margin-bottom: 3.75rem;
        margin-right: 5px;
        width: 5.5vw;
      }
      &-number{
        font-family: 'HeuristicaBold';
        font-size: 3.25rem;
        line-height: 3.75rem;
        color: #24200C;
        margin-right: 0.83vw;
      }
      &-header{
        font-family: 'Nunito';
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: #24200C;
        margin-bottom: 1.85vh;
      }
      &-text{
        font-family: 'Nunito';
        font-size: 1rem;
        line-height: 1.375rem;
        color: #24200C;
      }
      &-body{
        max-height: fit-content;
        height: fit-content;
        margin-top: .4rem;
        // margin-top: -0.26vw;
      }
    }
  }
  .image-swiper{
    height: 29.91vh;
    max-width: 40vw;
    .custom-slider__slide{
      max-width: 40vw;

    }
    img{
      max-height: 29.91vh;
      max-width: 40vw;
      object-fit: cover;
    }
  }
  .about-us__mobile{
    display: none;
  }
}
